.App {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

.bar{
  background-color:rgb(236, 98, 17);
  color:rgb(248, 211, 0);
  font-size:xx-large;
}

.App_Body{
  font-family:'Courier New', Courier, monospace;
}

.login-button{
  font-size:xx-large;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color:rgb(236, 98, 17);
  color:rgb(248, 211, 0);
}
