.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bar{
  background-image: radial-gradient(rgb(236, 98, 17), rgb(255, 139, 72));
  color:rgb(240, 213, 59);
  font-size:x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App_Body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.login-form{
  font-size:large;
}
.drop-down{
  border: 2px solid black;
  border-radius: 4px;
  font-size:large;
}
.text-box{
  border: 2px solid black;
  border-radius: 4px;
  font-size:large;
}
.text-box:focus{
  background-color: rgba(152, 229, 255, 0.507);
  border-radius: 4px;
}

.primary-button{
  min-width: 200px;
  min-height: 50px;
  border-radius: 10px;
  font-size:xx-large;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(236, 98, 17);
  color:rgb(240, 213, 59);
}
.primary-button:hover{
  background-color:rgb(255, 98, 0);
  color:rgb(255, 255, 255);
}
.secondary-button{
  min-width: 200px;
  min-height: 50px;
  border-radius: 10px;
  font-size:x-large;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(236, 98, 17);
  color: rgb(240, 213, 59);
}
.secondary-button:hover{
  background-color:rgb(255, 98, 0);
  color:rgb(255, 255, 255);
}
.test2{
  min-width: 800px;
  margin:auto;
  text-align:center;
}